body {
	margin: 0px;
	padding: 0px;
}
.rojo{
	background-color: #ED462F;
	height: 400px;
	width: 400px;
	position: static;
}
.morado{
	background-color: #752E80;
	height: 200px;
	width: 200px;
	position: relative;
	left: 100px;
	top: 100px;
}
.amarillo{
	background-color: #FFF835;
	height: 100px;
	width: 100px;
	position: absolute;
}