<!DOCTYPE html>
<html>
	<head>
		<meta charset="UFT-8">
		<title>Perfil Coder</title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<div class="borde">
			<div class="foto">
				<img class="circular" src="img/profile-1.png" alt="foto-de-perfil-1">
			</div>
			<br/>
			<h1>Nombres y apellidos</h1>
			<br/>
			<article class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium commodi eos dolore, quia reiciendis, porro, eum aliquam maxime magnam molestiae iste. Ratione dolor velit cumque, placeat, dolorum harum illo modi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium commodi eos dolore, quia reiciendis, porro, eum aliquam maxime magnam molestiae iste. Ratione dolor velit cumque, placeat, dolorum harum illo modi.</article>
			<br/>
			<h2>Habilidades</h2>
			<br/>
			<div class="programas" id="html">
				<p>HTML</p>
			</div>
			<div class="programas" id="css">
				<p>CSS</p>
			</div>
			<div class="programas" id="js"><p>JavaScript</p></div>
			<br/>
			<h2 id="portafolio">Portafolio</h2>
			<br/>
			<section id="fp">
				<img src="img/p5.jpg" alt="portafolio" class="fotop">
				<img src="img/p6.jpg" alt="portafolio" class="fotop">
				<img src="img/p8.jpg" alt="portafolio" class="fotop">
			</section>
			<section id="fp">
				<img src="img/p5.jpg" alt="portafolio" class="fotop">
				<img src="img/p6.jpg" alt="portafolio" class="fotop">
				<img src="img/p8.jpg" alt="portafolio" class="fotop">
			</section>

		</div>
	</body>
</html>